@media screen and (max-width:991px){
    html{
        font-size:55%;

    }
    header{
        padding:1rem 2rem;
    }
    .order form .input-box .input{
        width: 100%;
        padding-right:1rem;
    }
  
}

@media  screen and (max-width:768px){
    header .icons #menu-bars{
        display: inline-block;
    }
    header .navbar{
        position: absolute;
        top: 100%; left: 0; right: 0;
        background-color:#fff;
        border-block: .1rem solid rgba(0, 0, 0, .2);
        padding:1rem;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
    header  .show{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);

    }
    header .navbar a{
        display: block;
        padding:1.5rem;
        margin: 1rem;
        font-weight: 2rem;
        background-color: #eee;
    }
    header  .navbar a.active{
        background-color: #27ae60;

    }
}


@media screen and (max-width:640px){
    html{
        font-size:50%;

    }
  
  
}